  .footer {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
  }
  
  .contact-info {
    margin-bottom: auto;
  }
  
  .contact-info a {
    color: #000;
    text-decoration: none;
    margin-bottom: auto;
  }
  
  .contact-info a:hover {
    text-decoration: underline;
  }
  
  .contact-info p {
    margin: 0;
  }
  
  
  
  
  
  